/* Write your global styles here, in PostCSS syntax */

@tailwind base;

.glow {
	box-shadow: 0rem 0rem 2rem var(--tw-shadow-color);
}

.glowHover:hover {
	box-shadow: 0rem 0rem 2rem var(--tw-shadow-color);
}

@tailwind components;

@tailwind utilities;
